<section class="juices-wrapper">
<ul class="subnav">
  <li><%= link_to "Cleanses", cleanses_path %></li>
  <li><%= link_to "Cleanse Process", milks_path %></li>
  <li><%= link_to "Cleanse FAQ", page_path('cleanse_faq') %></li>
</ul>
<h2>Cleanses</h2>
<p class="subtitle">Juice cleansing on a regular basis is an effective and natural way of maintaining optimal health. Whether it's your first cleanse or tenth, we have you covered every step of the way. Our cleanses are designed to nourish your body through pure, organic, whole foods. Click on individual photos for cleanse details. For specific questions, please refer to our <%= link_to "FAQ", page_path('cleanse_faq')%> page and <a href="#">Cleanse Process </a>section. Cheers to your health!</p>
<div class="grid-items-lines">
  <% @cleanses.each do |cleanse| %>
    <%= link_to cleanse, class: 'grid-item' do %>
      <%= image_tag cleanse.photo.url(:medium) %>
      <h1><%= cleanse.name %></h1>
    <% end %>
  <% end %>
  <div class="right-cover"></div>
  <div class="bottom-cover"></div>
</div>
</section>
