<ul class="subnav">
  <li><%= link_to "Cleanses", cleanses_path %></li>
  <li><%= link_to "Cleanse Process", page_path('cleanse_process') %></li>
  <li><%= link_to "Cleanse FAQ", page_path('cleanse_faq') %></li></ul>
<section class="juice-wrapper">
  <div class="juice-photo cleanse-photo">
    <%= image_tag @cleanse.photo.url(:medium) %>
  </div>

  <div class="juice-info">
    <h1><%= simple_format(@cleanse.name) %></h1>

    <h3>$<%= @cleanse.price.round %></h3>

    <p><%= simple_format(@cleanse.long_description) %></p>

    <p><strong>This cleanse includes:</strong></p>

    <p><%= simple_format(@cleanse.ingredients) %></p>

    <p>All Bloom Juice cleanses come with our detailed cleanse guide and thermal tote. Please visit our <%= link_to "Cleanse Process", page_path('cleanse_process')%> page for juicy tips before, during, and after your cleanse. Prices are per day.</p>

    <p><small>.50c bottle deposit is already included in this price. $3.50 total per day</small></p>

    <p class="size"><small>16oz / 543ml</small></p>

    <% if @cleanse.previous %>
      <p class="previous"><%= link_to "< Previous", @cleanse.previous %></p>
    <% end %>
    <% if @cleanse.next %>
      <p class="next"><%= link_to "Next >", @cleanse.next, class: "next" %></p>
    <% end %>
  </div>

</section>


