<section class="cleanse-wrapper">
  <div class="cleanse-photo">
    <%= image_tag @cleanse.photo.url(:large) %>
  </div>
  <div class="cleanse-photo">
    <%= image_tag @cleanse.photo2.url(:large) %>
  </div>

  <div class="cleanse-info">
    <h1><%= @cleanse.name1 %></h1>

    <p><%= @cleanse.bio1 %></p>

    <h1><%= @cleanse.name2 %></h1>

	<p><%= @cleanse.bio2 %></p>

  </div>
</section>


