<section class="cleanse-wrapper">
  <div class="cleanse-photo">
    <%= image_tag @cleanse.photo.url(:medium) %>
  </div>

  <div class="cleanse-info">
    <h1><%= @cleanse.name %></h1>

    <h3>$<%= @cleanse.price %>0</h3>

    <p><%= @cleanse.ingredients%></p>

    <p><%= @cleanse.long_description %></p>

    <p><small>.50c bottle deposit is already included in this price. Please recycle this bottle by bringing it back to our shop and recieve your deposit back.</small></p>

    <p><small>16oz / 543ml</small></p>
  </div>
</section>


