<section class="featured_artist-wrapper">
  <div class="featured_artist-photo">
    <%= image_tag @featured_artist.photo1.url(:large) %>
  </div>
  <div class="featured_artist-photo">
    <%= image_tag @featured_artist.photo2.url(:large) %>
  </div>

  <div class="featured_artist-info">
    <h1><%= @featured_artist.name %></h1>

    <p><%= @featured_artist.bio %></p>

	<p><%= @featured_artist.link %></p>

  </div>
</section>


