<section class="cleanse-wrapper">
  <div class="cleanse-photo">
    <%= image_tag @cleanse.photo.url(:medium) %>
  </div>

  <div class="cleanse-info">
    <h1><%= @cleanse.name %></h1>

    <h3>$<%= @cleanse.price %>0</h3>

    <p><%= @cleanse.ingredients%></p>

    <p><%= @cleanse.long_description %></p>

  </div>
</section>


