<section class="featured_artist-wrapper">
  <h2>Featured Artist</h2>
  <div class="featured_artist-photo">
    <%= image_tag @featured_artist.photo1.url(:large) %>
    <%= image_tag @featured_artist.photo2.url(:large) %>
  </div>

  <div class="featured_artist-info">
    <h1><%= @featured_artist.name %></h1>

    <p><%= @featured_artist.bio %></p>
    <p><%= @featured_artist.bio2 %></p>

    View their work at <a href="http://<%= @featured_artist.link %>" target="_blank"><%= @featured_artist.link %></a><% if @featured_artist.link2  %>and <a href="http://<%= @featured_artist.link2 %>" target="_blank"><%= @featured_artist.link2 %></a><% end %>
  </div>
</section>


