<section class="juices-wrapper">
<ul class="subnav">
  <li><%= link_to "Juices", juices_path %></li>
  <li><%= link_to "Milks", milks_path %></li>
  <li><%= link_to "Elixirs", elixers_path %></li></ul>
<h2>Milks</h2>
<div class="grid-items-lines">
  <% @milks.each do |milk| %>
    <%= link_to milk, class: 'grid-item' do %>
      <%= image_tag milk.photo.url(:medium) %>
      <h1><%= milk.name %></h1>
      <p><%= milk.short_description %></p>
      <p>$<%= milk.price.round %></p>
    <% end %>
  <% end %>
  <div class="right-cover"></div>
  <div class="bottom-cover"></div>
</div>
</section>

