<ul class="subnav">
  <li><%= link_to "Juices", juices_path %></li>
  <li><%= link_to "Milks", milks_path %></li>
  <li><%= link_to "Elixirs", elixers_path %></li></ul>
<section class="juice-wrapper">
  <div class="juice-photo">
    <%= image_tag @milk.photo.url(:medium) %>
  </div>

  <div class="juice-info">
    <h1><%= simple_format(@milk.name) %></h1>

    <h3>$<%= @milk.price.round %></h3>

    <p><strong><%= simple_format(@milk.ingredients) %></strong></p>

    <p><%= simple_format(@milk.long_description) %></p>

    <p><small>.50c bottle deposit is already included in this price. Please recycle this bottle by bringing it back to our shop and receive your deposit back.</small></p>

    <p class="size"><small>16oz / 543ml</small></p>

    <% if @milk.previous %>
      <p class="previous"><%= link_to "< Previous", @milk.previous %></p>
    <% end %>
    <% if @milk.next %>
      <p class="next"><%= link_to "Next >", @milk.next, class: "next" %></p>
    <% end %>
  </div>

</section>


