<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-milks"><%= link_to "Milks", casein_milks_path %></li>
<li id="tab-elixers"><%= link_to "Elixers", casein_elixers_path %></li>
<li id="tab-featured_artists"><%= link_to "Featured artists", casein_featured_artists_path %></li>
<li id="tab-cleanses"><%= link_to "Cleanses", casein_cleanses_path %></li>
<li id="tab-juices"><%= link_to "Juices", casein_juices_path %></li>
