<section class="juices-wrapper">
<ul class="subnav">
  <li><%= link_to "Juices", juices_path %></li>
  <li><%= link_to "Milks", milks_path %></li>
  <li><%= link_to "Elixirs", elixers_path %></li></ul>
<h2>Elixirs</h2>
<div class="grid-items-lines">
  <% @elixers.each do |elixer| %>
    <%= link_to elixer, class: 'grid-item' do %>
      <%= image_tag elixer.photo.url(:medium) %>
      <h1><%= elixer.name %></h1>
      <p><%= elixer.short_description %></p>
      <p>$<%= elixer.price.round %></p>
    <% end %>
  <% end %>
  <div class="right-cover"></div>
  <div class="bottom-cover"></div>
</div>
</section>

