<ul class="subnav">
  <li><%= link_to "Juices", juices_path %></li>
  <li><%= link_to "Milks", milks_path %></li>
  <li><%= link_to "Elixirs", elixers_path %></li></ul>
<section class="juice-wrapper">
  <div class="juice-photo">
    <%= image_tag @elixer.photo.url(:medium) %>
  </div>

  <div class="juice-info">
    <h1><%= simple_format(@elixer.name) %></h1>

    <h3>$<%= @elixer.price.round %></h3>

    <p><strong><%= simple_format(@elixer.ingredients) %></strong></p>

    <p><%= simple_format(@elixer.long_description) %></p>

    <p><small>.25 bottle deposit is already included in this price. Please recycle this bottle by bringing it back to our shop and receive your deposit back towards your next purchase.</small></p>

    <p class="size"><small>2oz / 59ml</small></p>

    <% if @elixer.previous %>
      <p class="previous"><%= link_to "< Previous", @elixer.previous %></p>
    <% end %>
    <% if @elixer.next %>
      <p class="next"><%= link_to "Next >", @elixer.next, class: "next" %></p>
    <% end %>
  </div>

</section>


