<div class="grid-items-lines">
  <% @products.each do |product| %>
    <%= link_to product, class: 'grid-item' do %>
      <%= image_tag product.photo.url(:medium) %>
      <h1><%= product.name %></h1>
      <p><%=  product.description %></p>
      <p>$<%=  product.price %>0</p>
    <% end %>
  <% end %>
  <div class="right-cover"></div>
  <div class="bottom-cover"></div>
</div>
