<div class="grid-items-lines">
  <% @juices.each do |juice| %>
    <%= link_to juice, class: 'grid-item' do %>
      <%= image_tag juice.photo.url(:medium) %>
      <h1><%= juice.name %></h1>
      <p><%= juice.short_description %></p>
      <p>$<%= juice.price %>0</p>
    <% end %>
  <% end %>
  <div class="right-cover"></div>
  <div class="bottom-cover"></div>
</div>
