<header class="navigation" role="banner">
  <div class="navigation-wrapper">
  <div class="social">
	<a href="http://facebook.com/bloomjuiceco" target="_blank"><i class="fa fa-facebook"></i></a>
	<a href="http://instagram.com/bloomjuiceco" target="_blank"><i class="fa fa-instagram"></i></a>
	<a href="http://twitter.com/bloomjuiceco" target="_blank"><i class="fa fa-twitter"></i></a>
	<a href="http://bloomjuiceco.tumblr.com" target="_blank"><i class="fa fa-tumblr"></i></a>
	<a href="mailto:bloomjuiceco.gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
  </div>
    <a href="/" class="logo">
      <%= image_tag "logo.png" %>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link more"><a href="javascript:void(0)">Shop</a>
          <ul class="submenu">
            <li><%= link_to "Juices", juices_path %></li>
            <li><%= link_to "Milks", milks_path %></li>
            <li><%= link_to "Elixirs", elixers_path %></li>
          </ul>
        </li>
        <li class="nav-link more"><a href="javascript:void(0)">Cleanse</a>
          <ul class="submenu">
            <li><%= link_to "Cleanses", cleanses_path %></li>
            <li><%= link_to "Cleanse Process", page_path('cleanse_process') %></li>
            <li><%= link_to "Cleanse FAQ", page_path('cleanse_faq') %></li>
          </ul>
        </li>
        <li class="nav-link more"><a href="javascript:void(0)">About</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">Our Story</a></li>
            <li><a href="javascript:void(0)">Our Values</a></li>
            <li><a href="javascript:void(0)">Press</a></li>
          </ul>
        </li>
        <li class="nav-link more"><a href="javascript:void(0)">Featured Artist</a>
          <ul class="submenu">
            <li><%= link_to "Current", featured_artist_current_path(:featured_artist_id) %></li>
            <li><%= link_to "All Artists", featured_artists_path %></li>
          </ul>
        </li>
        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
