<section class="juice-wrapper">
  <div class="juice-photo">
    <%= image_tag @juice.photo.url(:medium) %>
  </div>

  <div class="juice-info">
    <p>
    <strong><%= @juice.name %></strong>
    </p>

    <p>
    <%= @juice.ingredients%>
    </p>

    <p>
    <%= @juice.long_description %>
    </p>

    <p>
   $<%= @juice.price %>0
    </p>

  </div>

</section>


