<section class="juice-wrapper">
  <div class="juice-photo">
    <%= image_tag @juice.photo.url(:medium) %>
  </div>

  <div class="juice-info">
    <h1><%= @juice.name %></h1>

    <h3>$<%= @juice.price.round %></h3>

    <p><%= @juice.ingredients %></p>

    <p><%= @juice.long_description %></p>

    <p><small>.50c bottle deposit is already included in this price. Please recycle this bottle by bringing it back to our shop and receive your deposit back.</small></p>

    <p class="size"><small>16oz / 543ml</small></p>
    <p class="next"><%= link_to "Next >", @juice.next, class: "next" %></p>
  </div>

</section>


